:root {
    --bg: rgb(25,25,75);
    --bg2: rgb(50,50,100)
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.2em;
 background-image: url('https://images.unsplash.com/photo-1443926818681-717d074a57af?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
}

h1 {
    justify-self: center;
}

.container {
    
    backdrop-filter: blur(16px) saturate(164%);
    -webkit-backdrop-filter: blur(16px) saturate(164%);
    background-color: rgba(17, 25, 40, 0.56);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    max-width: 800px;
    font-size: 1.2em;
    /* background: var(--bg2); */
    padding: 20px;
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    
    td {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

